# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\E_Data Science\1-Theoretical\2-Machine Learning In Details with (Hesham Asem)\2-Supervised Learning\3-Neural Network\9-3amly\2-Forward & Back Propagation (ex2)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
